<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @order.user.cliente %>
</p>
<p>

<p>
  <strong>Colonia:</strong>
  <%= @order.colonia %>
</p>

<p>
  <strong>Hora registro:</strong>
  <%= @order.hora_registro %>
</p>

<p>
  <strong>Hora entrega:</strong>
  <%= @order.hora_entrega %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status_actual%>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @order.detalles %>
</p>

  <strong>Costo:</strong>
  <%= @order.costo %>
</p>
<p>
  <strong>Repartidor:</strong>
  <%= @order.repartidor_asignado %>
</p>

<%= link_to 'Editar', edit_order_path(@order) %> |
<%= link_to 'Regresar', orders_path %>

